.card {
    min-height: 350px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px 30px 20px 30px;
    margin-bottom: 20px;
  
    .cardInfo {
      display: flex;
      justify-content: space-around;
  
      .cardUser {
        display: flex;
        align-items: center;
  
        .cardUserImg {
          width: 80px;
          height: 80px;
          border-radius: 40px;
          color: gray;
        }
  
        .cardUserName {
          margin-left: 20px;
          width: 200px;
        }
  
      }
  
      .cardMore {
        display: flex;
        flex-direction: column;
        width: 250px;
        align-items: flex-end;
  
        .more{
            position: relative;

            .report{
                position: absolute;
                right: 2px;
                top: 40px;
                width: 80px;
                height: 50px;
                font-size: 25px;
                line-height: 50px;
                text-align: center;
                border-radius: 10px;
                background-color: #EEDCDC;
            }
    
            .delete{
                position: absolute;
                right: 2px;
                top: 90px;
                width: 80px;
                height: 50px;
                font-size: 25px;
                line-height: 50px;
                text-align: center;
                border-radius: 10px;
                background-color: #EEDCDC;
            }
            .none{
                display: none;
            }
        }
        

        .cardMoreInfo {
          width: 50px;
          height: 50px;
          display: flex;
          position: relative;
        }
  
        .cardTime {
            width: max-content;
          font-size: 26px;
          display: flex;
          flex-wrap: nowrap;
        }
  
      }
    }
  
    .cardContent {
      width: auto;
      min-height: 180px;
      margin-top: 20px;
      border-radius: 15px;
      background-color: #fff9f9;
      padding: 20px;
  
      .cardContentText {
        display: block;
        word-break: normal;
        word-wrap: break-word;
        width: 100%;
        margin-bottom: 20px;
      }
  
      .cardContentImage {
        width: 180px;
        height: 180px;
        background-color: #101010;
        margin-right: 10px;
      }
    }
.card_bottom{
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
   // background-color: aqua;

    .category{
        width: max-content;
        padding: 10px;
        font-size: 20px;
        color: white;
        background-color: #E4ACAC;
        display: flex;
        border-radius: 10px;
        border: 0;
        height: 25px;
        line-height: 25px;
        margin-top: 10px;
      }

    .cardLikeBox {
      width: auto;
      height: 80px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      //background-color: aquamarine;

      .cardLikeBox2 {
        width: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
  
        .box3{
            width: 50px;
            height: 80px;

            .cardLike {
                width: 50px;
                height: 50px;
              }

              .num{
                width: 100%;
                font-size: 20px;
                color: gray;
                text-align: center;
              }
        }
        
      }
    }
 
}
}

  .m_box{
    width: 100%;
    height: 100%;
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
   // background-color: antiquewhite;
  .modal{
    position: absolute;
    opacity: 1;
    margin: auto;
    width: 70%;
    height: 700px;
    margin-left: 15%;
    margin-top: 300px;
    background-color: #F5E3E3;
    border-radius: 15px;
    border: 0;
    display: flex;
    flex-direction: column;

    .close{
        width: 50px;
        height: 50px;
        //position: absolute;
        display: flex;
        margin-left: 85%;
        margin-top: 5%;

        Image{
            width: 100%;
            height: 100%;
        }
    }

    .choose{
        margin-top: 70px;
       // background-color: aqua;
        width: 80%;
        margin: 20px auto;
        height: 200px;
        display: grid;
        grid-template-columns: 160px 160px;
        gap: 20px;

        .radio{
            width: 100%;
            height: 25px;
            font-size: 25px;
            margin-right: 40px;
           // background-color: #c25656;
        }
    }

    .input{
        width: 80%;
        height: 150px;
        margin: 20px auto;
        border-radius: 20px;
        background-color: white;
        color: rgb(144, 144, 144);
        font-size: 25px;
        border: 0;
        margin-bottom: 30px;
        padding: 10px;

        Textarea{
            width: 100%;
            height: 100%;
        }
    }

    .submit{
        width: 180px;
        height: 60px;
        color: white;
        line-height: 60px;
        text-align: center;
        font-size: 30px;
        background-color: #E4ACAC;
        border-radius: 10px;
    }
  }
}