.ground {
  background-color: #101010;
  width: 100vw;
  min-height: 100vh;
  padding-top: 10px;

  .searchBox {
    background-color: #bbbbbb;
    width: 75%;
    height: 40px;
    margin: 0 auto 10px auto;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    font-size: 28px;
  }

  .groundBox {
    width: 90%;
    margin: auto;

    .groundAreas {
      display: flex;
      justify-content: space-around;

      .groundArea {
        width: auto;
        height: 40px;
        border-bottom: 2px #686868 solid;
        color: #cecece;
        font-size: 30px;
        padding-bottom: 6px;
      }
    }

    .cards {
      margin-top: 30px;
      width: 100%;
    }
  }

  .groundPostArticle {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: #6b6b6b;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 75px;

    .groundPostArticleImg {
      width: 60px;
      height: 60px;
    }
  }
}
